doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  script(src='http://code.jquery.com/jquery.min.js')
  script(src='http://http://code.jquery.com/ui/1.8.24/jquery-ui.min.js')
  block scripts